html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: url("background.jpg");
}
h1{
    font-family: 'Gugi', cursive;
    font-size: 70pt;
    margin: 0 auto;
    text-align: center;
}
#header{
    position: absolute;
    width: 100%;
}
#box{
    background-color: cornflowerblue;
    position: absolute;
    border: solid black 2px;
    height: 60vh;
    width: 60vh;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    -webkit-box-shadow: 5px 5px 44px 11px rgba(0,0,0,0.65);
    -moz-box-shadow: 5px 5px 44px 11px rgba(0,0,0,0.65);
    box-shadow: 5px 5px 44px 11px rgba(0,0,0,0.65);
}
#contentHolder{
    position: relative;
    height: 100%;
    width: 100%;

}
canvas{
    position: absolute;
    height: 100%;
    width: 100%;
}
#musicimg {
    position: absolute;
    width: 5%;
    height: 10%;
    left: 2%;
    top: 5%;
}