html, body {
    overflow: hidden;
    font-family: "Comic Sans MS", serif;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    all-space-treatment: 0;
    background-color: #0092B6;
}

div#birdBox {
    position: absolute;
    /*bare for at  den skal loade på utsiden av skjermmen og så bli flyttet inn senere*/
    left: -300px;
}
div#bird{
    width: 100%;
    height: 100%;
    background-image: url("bird.gif");
    background-size: 100%;
}
div#floor{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 95%;
    z-index: 1;
    background-image: url("floor.png");
}

div.lower, div.upper{
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
}

div.upper{
    background-image: url("pipeU.png");
}
div.lower{
    background-image: url("pipeL.png");
}

div.menu{
    position: absolute;
    background: #E4D57D;
    border: solid black 3px;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    font-family: "Comic Sans MS",fantasy;

}
div.button{
    border: solid white 3px;
    margin: auto;
    margin-top: 5px;
    width: 40%;
    background-color: #DD6701;
    cursor: pointer;
    color: white;
    margin-bottom: 30px;
}
div.button:hover {
    background-color: #DEA128;
}
div#Score{
    position: relative;
    color: white;
    left: 47.5%;
    top: -75%;
    width: 10%;
    font-size: 50px;
    text-shadow: 2px 2px 0  black, -2px -2px 0 black, 2px -2px 0  black, -2px 2px 0  black;
    font-family: Impact, Charcoal, sans-serif;
}
div#Scoreboard{
    height: auto;
    color: white;
}
.rainbowText {
    background: red;
    background: -webkit-linear-gradient(left,red, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right,red, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right,red, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right,red,  orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#orange {
    color: #DD6701;
}
#logo {
    width: 300px; 
    height: 60px; 
    margin-top: 50px;
}
#logoplace {
    position: relative;
    top: 0;
}